body{
  background-color: lightblue;
}

#sidebar{
  background-color: pink;
  margin-right: 25px;
  border: 5px;
  padding-right: 35px;
}
#header{
  background-color: lightblue;
}
#content{
  background-color: lightblue;
  margin-left: 25px;
  border: 5px;
  padding-left: 35px;
}
#footer{
  background-color: lightblue;
  margin-left: 25px;
  border: 5px;
  padding-left: 35px;
}
.well {
  background-color: lightblue;
  border-radius: dotted;
}
.user1{
  text-align: left;
}
